
* { 
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
}

.form-wrapper-login {
   
}

.wrapper-login {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 3%;
    border-radius: 3px;
    width: 50vw;
    height: auto;
}

.form-row-login {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
    margin:3%;
}

.form-row-login>label {
    padding: .5em 1em .5em 0;
    flex: 1;
    font-size: 0.9em;
}

/* styles for inpust in login and registration */

#email,#password{
    height:20%;
}

.form-row-login>input {
    flex: 2;
}

.form-row-login>input,
.form-row-login>button {
    padding: .5em;
}

#login-btn{
    width:19%;
    height:14%;
    border-radius: 5px;
    background-color:white;
    color: #23395d;
    border: 1px solid #23395d;;
    text-decoration: none;
    cursor:pointer;
    transition: .3s;
}

#login-btn:hover{
    background-color:#23395d;;
    color: white;
}

.email-error{
    color:red;
    margin-left: 36%;
}

.username-div{
    display:flex;
    justify-content: center;
    align-items: center;
}
.username-div h4{
    color:white;
}