.form-wrapper-registration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-registration {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 3%;
    border-radius: 3px;
    width: 50vw;
}

.form-row-registration {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
    margin:3%;
}

.form-row-registration >label {
    font-size: 0.9em;
    padding: .5em 1em .5em 0;
    flex: 1;
}

.form-row-registration >input {
    flex: 2;
}

.form-row-registration >input,
.form-row-registration >button {
    padding: .5em;
}

.registration-button{
    width:19%;
    height:14%;
    border-radius: 5px;
    background-color:white;
    color: #23395d;
    border: 1px solid #23395d;
    text-decoration: none;
    cursor:pointer;
    transition: .3s;
}

.registration-button:hover{
    background-color:#23395d;
    color: white;
}

.error-message{
    color:red;
    font-size: 11px;
    margin-left: 36%;
    margin-right: 3%;
    max-height: 15%;
}

