.start-decoration{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:65%;
    height:65%;
    min-width: 300px;
    min-height: 500px;
    background-color: rgba(245, 245, 245,0.3);
    box-shadow: 6px 6px 13px rgba(35,57,93,0.2);
    padding:5%;
}

.text{
    width:100%;
    color:#23395d;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    margin:1%;
}

h1.text{
    font-size:2rem;
    margin-bottom:3%;
}

h2{
    font-size:1.3rem;
}