
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 7vh);
}

.wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 3%;
    border-radius: 3px;
    width: 50vw;
    height: auto;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
    margin:3%;
}

.form-row>label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.form-row>input {
    flex: 2;
}

.form-row>input,
.form-row>button {
    padding: .5em;
}

.form-row>button {
    background: gray;
    color: white;
    border: 0;
}

.email-error{
    color:red;
    margin-left: 36%;
}

.username-div{
    display:flex;
    justify-content: center;
    align-items: center;
}
.username-div h4{
    color:white;



}