#transactions-list li:after {
    content: "";
}

.doughnut-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
    width:49vw;
    padding-left:10%;
   
}
.bar-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
    width:45vw;
    padding:12%;

}

.charts-wrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:50vh;
    margin-top:5%;
}

.charts-wrapper-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height:70vh;
    width:100%;
}

.transactions-list-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width:100%;
    height:100%;
    margin-top: 10%;
    margin-bottom: 5%;
    }

.transactions-list{
        width:60em;
        height:auto;
        background-color: lightgray;
        list-style: none;
}

.transaction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:auto;
    height:3%;
    border-bottom:1px solid white;
    font-size: 0.8em;
    color: #152238;

}

.transaction-data{
    display: flex;
    justify-content: space-evenly;
    padding:2%;
    text-align: center;
    width:5em;
    height:auto;
}
